<div class="hrbx">
  <div class="cnt">
    <div class="mbx">
      <h1 class="mat-display-1 tc">
        Fahad Hossain
      </h1>
    </div>
  </div>
  <div class="cnt">
    <div class="ttl">
      <h2 [@textAnimation]="7" class="mat-display-2 tc" #heroText>
        <span style="color: #c43631;">Angular</span>
        <br />
        <span>&</span>
        <br />
        <span style="color: #599642">M</span>
        <span style="color: #444">E</span>
        <span style="color: #c43631;">A</span>
        <span style="color: #72aa63;">N</span>
        <br />
        <span>Stack Developer</span>
      </h2>
    </div>
  </div>
</div>

<div class="abm">
  <div class="cnt">
    <div class="abt">
      <div class="abi tc" [@imgAnimate]>
        <img src="../../../assets/img/fahad.jpg" alt="fahad hossain" />
      </div>
    </div>
  </div>

  <div class="cnt">
    <div class="abd">
      <p class="tc open">
        Hi there, I'm a full stack developer with Javascript technoogies such as
        Angular, NodeJS, Express, jQuery etc.
        <br />
        <br />
        For my passion for web development I can build a professional & dynamic
        website for ecommerce, social network etc, Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Itaque recusandae nisi obcaecati
        asperiores voluptatum, nemo nesciunt ipsa eius sed corrupti veniam
        praesentium eaque tenetur, iusto minus explicabo sapiente. Dolorem,
        laborum?
      </p>
    </div>
  </div>
</div>

<div class="rsm">
  <div class="cnt">
    <h3 class="mat-display-1 acme tc">
      Resume
    </h3>
    <div class="hr"></div>
  </div>
  <div class="cnt">
    <div class="rmb" [appFlex]="'500px'">
      <div class="rmi">
        <h4>Objectives</h4>
        <mat-divider></mat-divider>
        <div>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas
          dolores nam, voluptatum maiores nesciunt atque quaerat pariatur ipsum
          eaque neque laudantium laboriosam quia quibusdam soluta doloremque
          veniam, voluptatibus asperiores et?
        </div>

        <h4>Education</h4>
        <mat-divider></mat-divider>

        <div class="edu">
          <h5 class="int">
            CS50 (cs50.net)
          </h5>
          <div class="doe">
            June 2018
          </div>
          <div class="drg">
            Introduction to Computer Science
            <br />
            Web Developemnt
          </div>
        </div>

        <div class="edu">
          <h5 class="int">
            Chakmoiram Govt. Model High School
          </h5>
          <div class="doe">
            February 2019
          </div>
          <div class="drg">
            Secondary
          </div>
        </div>

        <div class="edu">
          <h5 class="int">
            Rajshahi Govt. Collage
          </h5>
          <div class="doe">March 2021 <i>(Expected)</i></div>
          <div class="drg">
            Higher Secondary
          </div>
        </div>
      </div>

      <div class="rmi">
        <h4>Experiences</h4>
        <mat-divider></mat-divider>
        <div class="edu">
          <h5 class="int">WebStocks | <span>Rajshahi</span></h5>
          <div class="doe">February 2019 - Present</div>
          <div class="drg">
            Web Developer
          </div>
          <div>
            <small>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae quisquam dignissimos ex deleniti veritatis velit
              dolores ea in placeat eveniet, neque assumenda? Ex sit autem
              pariatur optio recusandae distinctio dolores!
            </small>
          </div>
        </div>

        <h4>Skills</h4>
        <mat-divider></mat-divider>
        <p>
          Please navigate to skills page
        </p>
        <a routerLink="/skills" mat-raised-button color="accent">
          Skills
        </a>

        <h4>Languages</h4>
        <mat-divider></mat-divider>
        <ul>
          <li>English Inetrnational</li>
          <li>Bengali</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="cnt tc">
    <a href="/" target="_blank" mat-raised-button color="primary">
      Open in PDF
    </a>
  </div>
</div>
