.mbx h1 {
  color: #aaa;
  font-weight: 100;
  line-height: 1.5;
  margin: 50px 0;
}
.ttl h2 {
  margin: 60px 0;
  line-height: 1.3;
  text-shadow: 0 0 3px #fff;
  color: #8260ff;
  font-weight: 300;
}

.abm {
  padding: 70px 0;
  background-color: #00ffff82;
}
.abi img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 3px 3px #8c8c8c;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #8c8c8c;
}
.abd p {
  margin: 0;
  padding: 30px;
  line-height: 1.5;
  font-size: 20px;
  color: #5d5d5d;
}

.rsm {
  padding: 100px 0;
}
.rsm h3 {
  margin: 0;
  color: #555;
}
.rmb {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0;
  justify-content: center;
}
.rmb .rmi {
  width: 46%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 2%;
}
.rmb .mrg {
  width: 2%;
}
.rmb h4 {
  margin: 20px 0 0;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  color: brown;
}
.rmb ul {
  list-style-type: square;
  margin: 0;
  padding-left: 18px;
}
.edu {
  margin: 5px 0 20px;
}
.edu h5.int {
  margin: 2px 0;
  font-size: 16px;
  color: darkblue;
}
.edu .doe {
  font-weight: bold;
}
