.mat-form-field {
  display: block;
  margin: 30px 0 !important;
  padding: 50px 0;
}
.lfc {
  padding: 100px 0;
}
mat-card {
  width: 700px;
  margin: 0 auto;
}
.mat-card-footer {
  display: flex;
}
.cfb a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  padding: 5px;
}
