footer {
  background-image: url(../../../assets/img/footer.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  bottom: 0;
  text-align: center;
  margin-top: 120px;
}
.box {
  background-color: #2a406c;
  display: flex;
  position: relative;
  top: -80px;
  border-radius: 10px;
  text-align: center;
}
.box > .flex {
  padding: 30px 0;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box > .flex h2 {
  color: #fff;
  font-family: 'Acme', sans-serif;
  letter-spacing: 3px;
  word-spacing: 7px;
}
.box > .flex p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}
.gtt {
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 3;
  box-shadow: 0 0 2px 2px #00000075;
}
.fmd {
  padding-bottom: 30px;
  color: #ffd747;
}
.cpr {
  padding: 30px 0;
}
p.mat-small {
  color: #a9a9a9;
}
ul.fnl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
ul.fnl li {
  float: left;
}
.si {
  margin: 0 20px;
}
.si img {
  width: 3rem;
  height: 2rem;
}
