.rps {
  padding: 100px 0;
  background-color: #0003;
}
.pbx {
  margin: 20px 0 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}
.pbx .ptm {
  background-color: #faebd754;
  padding: 0 !important;
  width: 100%;
  max-width: 450px;
  margin: 5px;
  border: 1px solid #00000024;
  min-width: 250px;
}
.piv {
  position: relative;
  width: 100%;
  height: 230px;
  display: block;
  background-color: #000;
}
.piv img {
  width: 100%;
  height: 230px;
}
.piv #lnk {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd9009f;
  transition: all 0.3s;
  opacity: 0;
}
.piv.active #lnk,
.piv #lnk:active,
.piv #lnk:hover {
  opacity: 1;
}
.piv #lnk mat-icon {
  font-size: 50px;
}
.pid {
  line-height: 1.5;
  margin: 10px 0;
}
.pid h3 {
  margin: 0;
  font-weight: normal;
}
.pid p {
  margin: 0;
}

.crs {
  /* background-color: aqua; */
  /* padding: 100px 0; */
  position: relative;
}
.carousel {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  height: 70vh;
}
.carousel img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  z-index: -1;
  width: 100%;
}
.carousel button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  width: 50%;
  cursor: pointer;
  outline: 0;
  transition: all 1s;
  position: absolute;
  top: 0;
  bottom: 0;
}
.carousel button:focus {
  border: none;
  outline: 0;
}
.carousel button:active,
.carousel button:hover {
  /* background-image: linear-gradient(#0000000d, #00000024); */
}
.carousel button:first-child {
  left: 0;
}
.carousel button:last-child {
  right: 0;
}
.mat-paginator {
  background: #fff5;
  border-radius: 10px;
  border: 1px solid #0005;
}
