header {
  background-image: url(../../../assets/img/header-background-page.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}
.mat-toolbar {
  background: #29406c;
  box-shadow: 0 0 2px 2px #000;
  position: fixed;
  z-index: 2;
  transition: all 0.3s;
  overflow: hidden;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 60px;
}
.navbar {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.brand {
  display: flex;
}
.brand img {
  height: 60px;
  width: auto;
  margin: 0 20px;
}
ul {
  margin: 13px 0;
  padding: 0;
  list-style: none;
}
ul li {
  float: left;
}
li > a {
  letter-spacing: 1px;
  text-transform: capitalize;
}
.lnm,
.rnm {
  display: flex;
}
.mat-menu-content a.mat-button.mat-primary {
  display: flex;
}

mat-drawer {
  width: 300px;
  position: fixed !important;
  background-color: #29406c;
}
.mdh {
  display: flex;
  min-height: 60px;
  background-color: #29406c;
}
.mdh h3 {
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}
.snmi {
  list-style: none;
  margin: 0;
  padding: 0;
}
.snmi li {
  display: block;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #29406c;
  border-top: 1px solid #0a1e44;
  transition: all 0.2s;
}
.snmi li:active,
.snmi li:hover,
.snmi li.active {
  background-color: #182d55;
}
.snmi li a,
.snmi li a:link,
.snmi li a:visited {
  font-size: 14px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  padding-left: 10px;
  border: 0;
}
.snmi li a:active,
.snmi li a:hover {
  border: 0;
}
.navbar,
.mat-mini-fab {
  color: #ffd747;
  background-color: #fff0;
}
.mrvr {
  position: relative;
  bottom: 2px;
  margin-left: 10px;
}
