mat-drawer {
  width: 100%;
  max-width: 1000px;
  position: fixed !important;
  background-color: #fff;
  top: 60px;
}
.mat-drawer-inner-container {
  position: relative;
}
.dhr {
  display: flex;
  position: fixed;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #881818;
  background-color: brown;
  box-shadow: 0 0 1px 1px #000;
  z-index: 3;
}
.mdc {
  margin-top: 60px;
  padding-top: 10px;
}
.dhr h3 {
  margin-left: 20px;
  flex: 1 1 auto;
  color: #fff;
}

h4.psubt {
  margin: 0 0 10px;
}
.piim img {
  max-width: 700px;
  height: 400px;
  background-color: bisque;
  padding: 10px;
  border: 1px solid #e0c7aa;
}
.pds {
  margin: 40px auto;
  width: 95%;
  max-width: 800px;
  padding: 10px;
}
.pds p {
  margin: 0;
  font-size: 16px;
  text-align: justify;
}

ul.scd {
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
ul.scd li {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}
.sci {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
}

.tcu {
  display: flex;
  max-width: 900px;
  width: 95%;
  justify-content: center;
  margin: 30px auto;
}
.mat-tab-group {
  width: 100%;
}
