.main {
  background-image: linear-gradient(#000000, #000000a8, #00000059, #0000);
  padding-bottom: 100px;
  position: relative;
}
nav {
  height: 40px;
  align-items: center;
  background-color: #ffad33;
  position: fixed;
  top: 60px;
  z-index: 4;
}
nav a {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #1f00b8;
  background-color: transparent;
  min-width: 75px;
  max-width: 33.3333%;
}
nav a.active {
  background-color: #975a00;
  color: #fff;
}
.content {
  position: relative;
  top: 40px;
}
