.skh {
  padding: 50px 0;
}
h1.skh1 {
  color: #ffd740;
  font-weight: 100;
}
.skl h3 {
  color: azure;
}
.skl p {
  color: burlywood;
  font-size: 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.skl {
  background-image: linear-gradient(#000, #0009, #0000);
  padding: 100px 0;
}
.skbx {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.mat-list-item {
  border-bottom: 1px solid #00000040;
}
.mat-list-item:last-child {
  border-bottom: none;
}
