.wmc {
  margin-top: 100px;
}
.wmc h1 {
  color: #fff;
}
.wmc h3 {
  color: #ddd;
}

.tls {
  padding: 70px 0;
  background-image: linear-gradient(#0000, #ef00ff52, #9dff0052, #0000);
  margin-top: 100px;
}
.tls h3 {
  color: brown;
}
.mtls {
  margin-top: 50px;
}
.tlt {
  border-bottom: 1px solid #00000021;
  margin: 100px auto;
}
.tlt:last-child {
  border: none;
}
.tlt img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: -webkit-box;
  border-radius: 50%;
}
.tqh h4 {
  text-align: right;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin: 5px 0;
  color: #777;
}
.tqh h4::before {
  content: '---';
}
.tqh {
  width: 90%;
  max-width: 900px;
  margin: 15px auto 20px;
  position: relative;
  text-align: justify;
}
.tqh p {
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #5c5c5c;
}
span.qt {
  position: absolute;
  font-size: 100px;
  line-height: 0.4;
  left: -35px;
  top: 5px;
  color: #656565;
}
