.main {
  background-image: linear-gradient(#000000, #000000a8, #00000059, #0000);
  padding-bottom: 100px;
  position: relative;
}
nav {
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  background-color: blanchedalmond;
  position: fixed;
  top: 60px;
  z-index: 4;
  box-shadow: 0 0 2px 2px #888;
}
nav a {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  color: darkblue;
  background-color: transparent;
  min-width: 75px;
  max-width: 16.6666%;
}
nav a.active {
  background-color: aquamarine;
}
.content {
  position: relative;
  top: 40px;
}
