<div class="main">
  <nav class="flex-body">
    <a
      class="flex-box"
      routerLink="messages"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Messages
    </a>

    <a
      class="flex-box"
      routerLink="users"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Users
    </a>

    <a
      class="flex-box"
      routerLink="portfolio"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Portfolio
    </a>

    <a
      class="flex-box"
      routerLink="newsletter"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Newsletter
    </a>

    <a
      class="flex-box"
      routerLink="projects"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Projects
    </a>

    <a
      class="flex-box"
      routerLink="testimonial"
      matRipple
      [matRippleCentered]="false"
      [matRippleUnbounded]="false"
      routerLinkActive="active"
    >
      Testimonial
    </a>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
