<div class="nfa">
  <div class="cnt">
    <h1 class="mat-display-2 acme tc">
      Page not found
    </h1>
    <h2 class="tc mat-display-4">
      404
    </h2>
  </div>
</div>

<div class="crd">
  <div class="cnt">
    <div class="pnf">
      <h2 class="tc  mat-display-2">
        Opps! Sorry
      </h2>
      <p class="tc mat-display-1">
        The page you're looking for was not found.
      </p>
      <div class="tc">
        <a mat-raised-button color="accent" routerLink="/">
          Home
        </a>
      </div>
    </div>
  </div>
</div>
