.bnd {
  display: flex;
  min-height: 700px;
  justify-content: center;
  align-items: center;
}
.bx {
  background-color: #ffd7008a;
  padding: 50px;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px #000;
}
.bx h1 {
  color: #ff00db;
  text-shadow: 0 0 5px #000000;
  line-height: 1.2;
  word-spacing: 15px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin: 40px 0;
  font-family: 'Acme', sans-serif;
}
.bx button {
  padding: 15px 60px;
  font-size: 120%;
}

.grb {
  margin: 100px 0 -1px;
}
.grb img {
  width: 90%;
  max-width: 1000px;
  display: block;
  margin: 0 auto;
}

.nsl {
  padding: 60px 30px;
  background-color: #fff5;
}
.nlb .flx {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nlb .flx:last-child {
  max-width: 100px !important;
}

.mean {
  background-image: linear-gradient(#0008, #0008),
    url(../../../assets/img/mean.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 50vh;
  padding: 100px 0;
}
img.bfh {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}
.btfh {
  text-shadow: 0 0 5px #000;
  margin: 10px 0;
}
.mean h3.name {
  color: #fff;
  font-weight: 100;
  font-size: 30px;
  margin: 0;
}
.mean p.mat-caption {
  color: #fff;
  line-height: 1.4;
  margin: 0;
  font-size: 18px;
}
.abt {
  width: 70%;
  margin: 60px auto;
  color: #bababa;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  padding: 30px;
  border-radius: 20px;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-shadow: 0 0 5px #000;
}

.srv {
  padding: 100px 0;
}
.tph h2 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  line-height: 1.3;
}
p.dsp {
  font-family: 'Acme', sans-serif;
  margin: 5px 0;
  color: #717171;
}

.tms {
  margin-top: 40px;
}
.tms .itm {
  overflow: hidden;
  background-color: #7fffd41c;
  box-shadow: 0 0 5px 5px #00000026;
  padding: 70px 10px !important;
}
.itm h4 {
  margin: 0;
  font-size: 20px;
  color: teal;
}
.itm p {
  margin: 0;
  line-height: 1.4;
  color: #444;
}
.itm mat-icon {
  font-size: 60px;
  background-color: gold;
  height: auto;
  width: auto;
  padding: 20px;
  border-radius: 50%;
}

.cntc {
  background-color: purple;
  overflow: hidden;
}
.ctnx {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cncf {
  max-width: 500px;
  width: 100%;
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.cncf p {
  margin: 0;
  color: floralwhite;
  line-height: 1.3;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.rps {
  padding: 100px 0;
  background-color: #0003;
}
.pbx {
  margin: 20px 0 30px;
}
.pbx .ptm {
  background-color: #faebd754;
  padding: 0 !important;
  max-width: 450px;
}
.piv {
  position: relative;
  width: 100%;
  height: 230px;
  display: block;
  background-color: #000;
}
.piv img {
  width: 100%;
  height: 230px;
}
.piv #lnk {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd9009f;
}
.piv #lnk mat-icon {
  font-size: 50px;
}
.pid {
  line-height: 1.5;
  margin: 10px 0;
}
.pid h3 {
  margin: 0;
  font-weight: normal;
}
.pid p {
  margin: 0;
}
