* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: inherit;
  line-height: 1.3;
  background-color: #ddd;
  color: #222;
  zoom: 1;
}

/* Custom scrollbar */
body::-webkit-scrollbar-track,
.mat-dialog-content::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #ddd;
}
body::-webkit-scrollbar,
.mat-dialog-content::-webkit-scrollbar {
  width: 8px;
  background-color: #ddd;
}
body::-webkit-scrollbar-thumb,
.mat-dialog-content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #00008b;
}

/* scrollbar for drawer-container */
.mat-drawer-inner-container::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #ddd;
}
.mat-drawer-inner-container::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
}
.mat-drawer-inner-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: brown;
}

.open {
  font-family: 'Open Sans', sans-serif;
}
.acme {
  font-family: 'Acme', sans-serif;
}
img {
  width: 100%;
}
a {
  cursor: pointer;
}
.cnt {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.clx:before,
.clx:after,
.cnt:before,
.cnt:after {
  content: ' ';
  display: table;
}
.clx:after,
.cnt:after {
  clear: both;
}
.tc {
  text-align: center;
}
.hr {
  height: 2px;
  background-color: purple;
  margin: 10px auto;
  width: 200px;
  max-width: 40%;
}
.flex-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.flex-box {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  margin: 10px 5px 0;
}
.mat-divider {
  margin: 5px 0 !important;
}
mat-form-field {
  width: 100%;
}
.spacer {
  flex: 1 1 auto;
}
.mat-display-1,
.mat-display-2,
.mat-display-3,
.mat-display-4 {
  margin: 0;
  line-height: 1.5;
}
.mat-drawer-container {
  z-index: 2 !important;
}
.mat-fab.mat-accent,
.mat-flat-button.mat-accent,
.mat-mini-fab.mat-accent,
.mat-raised-button.mat-accent {
  color: #424242 !important;
}
.mat-card-header-text {
  margin-left: 0 !important;
}
.mat-card-footer {
  margin: 0 !important;
}
.mat-card-actions {
  display: flex !important;
}
.text-green {
  color: darkgreen !important;
}
.mat-form-field-suffix {
  cursor: pointer;
}
.mat-snack-bar-container {
  color: #ffffff;
  background: brown;
}
.owl-theme .owl-nav [class*='owl-'] {
  display: none;
}
.owl-carousel .owl-item img {
  height: 700px;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(#0000, #00000082);
  padding: 20px;
}

.fadein {
  animation: appfadein 0.4s cubic-bezier(1, -0.67, 0.95, 2.62);
}
@keyframes appfadein {
  from {
    opacity: 0;
    transform: scale3d(0.8);
  }
  70% {
    opacity: 1;
    transform: scale3d(1.2);
  }
  to {
    transform: scale3d(1);
  }
}
